.circle-image-ent-conf2 {
    position: absolute;
    width: auto;
    height: 25px;
    top: 90%;
    left:15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transform: rotate(180deg);
    transform: rotateZ(165deg);
}