.circle-image-conf-work {
    position: absolute;
    width: auto;
    height: 20px;
    top: 29%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transform: rotate(172deg);
  }